* {
  box-sizing: border-box;
}

.div0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  gap: 10px;
}

.div3 {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.register-form button {
  padding: 12px;
  background-color: beige;
  color: rebeccapurple;
}

.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.log-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.log-item {
  flex-basis: calc((100% - 16px) / 2);
  position: relative;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-size: 16px;
  font-family: monospace;
}

.log-item > .chip {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.js-clear {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

.div5 {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form0 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.form0 > input:first-child {
  margin-right: 20px;
}

.div6 {
  display: flex;
  gap: 5px;
}

.btn1 {
  display: block;
}

select {
  padding: 4px;
}

.div8 {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.div8 input {
  overflow-wrap: anywhere;
}

.div8 p {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

.div9 {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.div9 > input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

.div9 > button {
  display: inline-flex;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.myspan {
  border: 1px solid red;
  background-color: yellow;
  font-size: 20px;
  padding: 5px;
}
